{% extends 'portfolio/base_style.html' %}

{% block content %}

{% load static %}
<center>
  <h1>Zabolotny Gregory website.</h1>
  <br>
  <img src="{% static 'portfolio/1PIg_SOmJ1g.jpg' %}" height=735 width=550>
  <br>

<h2 class="mt-5">Portfolio</h2>
</center>
<hr>
<div class="row">
  {% for project in projects %}
  <div class="col-lg-4 col-md-6">

    {% if project.url %}
    <a href="{{ project.url }}" target="_blank">
      <img src="{{ project.image.url }}" class="img-fluid mb-2" height=200 >
    </a>
    {% else %}

    <img src="{{ project.image.url }}" class="img-fluid mb-2" height=200>
    {% endif %}
    <h3>{{ project.title }}</h3>
    <p>{{ project.description }}</p>

  </div>
  {% endfor %}
</div>
{% endblock %}
